.footer {
    width: 100%;
    background-color: #353535;
    @include flexbox-center;
    &_bloc {
        display: inline;
        padding: 0px 40px;
        width: 100%;
        max-width: 1200px;
        & .logo {
            font-family: 'shrikhand', cursive;
            color: white;
            font-size: 20px;
            padding: 15px 0px;
        }
        &-links {
            display: inline-flex;
            flex-direction: column;
            width: auto;
        }
        &-link {
            display: inline-flex;
            align-items: center;
            flex-direction: row;
            text-align: center;
            color: white;
            height: 30px;
            cursor: pointer;
            &:hover .footer_bloc-link_title {
                text-decoration: underline;
            }
            & i {
                margin-right: 7px;
            }
            &_title {
                font-size: 16px;
                font-weight: 400;
            }
        }
    }
}

@media screen and (min-width: 800px) {
    .footer_bloc {
        margin-bottom: 15px;
    }
}

@media screen and (min-width: 800px) {
    .footer_bloc-links {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        max-width: 900px;
    }
}